@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Poppins", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }
  

.mainmenu-nav .mainmenu li.has-droupdown>a::after{
    display: none !important;
}

.gap-bottom-equal{
    margin-top: 40px !important;
}

.rounded-brand{
    border-radius: 15px !important;
}

.rounded-btn{
    border-radius: 10px !important;
}

.myThumb{
    position: relative;
    z-index: 5;
}

.cursor-pointer{
    cursor: pointer !important;
}

.hidden-courses{
    display: none;
}

.myEmail, .myPhone{
    font-size: 23px !important;
}

.overflow-hidden{
    overflow: hidden !important;
}

.topperPercent{
    font-size: 75px !important;
    /* transform: rotate(356deg); */
    letter-spacing: -1px;
    background: linear-gradient(to bottom, #54A4D4, #2D5CA7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    width: max-content;
    border-radius: 20px;
    padding-bottom: 10px !important;
    line-height: 75px !important;
    /* background: linear-gradient(to bottom, #ff798f, #E63352); */
}

.topper-card{
    border-radius: 15px !important;
    /* width: min(300px) !important; */
    border-color: #54A4D4 !important;
    padding: 0px !important;
}

.topper-data-wrap{
    /* margin-top: -30px; */
    border-radius: 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
    margin-bottom: 35px !important;
    /* background: linear-gradient(to bottom, #81ecbc, #59B88E); */
}

.topperName{
    background-color: #fdff00;
    font-size: 20px !important;
    margin-top: 0px !important;
    background: linear-gradient(to bottom, #54A4D4, #2D5CA7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    position: relative;
    margin-bottom: -30px !important;
    z-index: 5;
}

.topperSeat{
    color: black !important;
    background-color: #fdff00;
    padding-top: 30px;
    /* margin-bottom: 20px !important; */
}

/* @media screen and (width > 800px) {
    .topper-card-wrapper{
        width: 100%;
    }
    .topper-card{
        width: calc(100% / 4) !important;
    }
} */

.hero-banner.hero-style-1{
    margin-top: -20px !important;
}

.header-top .header-info li i{
    color: gold !important;
}

.header-top .header-notify a{
    color: gold !important;
}

.rn-progress-parent.rn-backto-top-active{
    display: none !important;
}

.whaticonWrap{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    width: 80px;
}

@media screen and (width < 800px) {
    /* [data-sal|='slide'].sal-animate, body.sal-disabled [data-sal|='slide']{
        text-align: left !important;
    } */
    
    .hero-banner .banner-content .title {
        margin-bottom: 18px;
        font-size: 23px;
        /* text-align: left; */
    }
    
    .hero-banner .banner-content p {
        color: var(--color-heading);
        font-size: 16px;
        /* text-align: left !important; */
    }
}

@media screen and (max-width: 767px){
    .hero-banner .banner-content {
        text-align: center;
        margin-bottom: 0px;
    }
}

.logo{
    width: 160px !important;
}

.logo a{
    width: 160px !important;
}

.logo-light .logo-dark{
    width: 100% !important;
}

.inquirenow{
    z-index: 0 !important;
}

.course-btn{
    z-index: 0 !important;
}

.edu-header .header-brand img.logo-light{
    width: 160px !important;
}

.download-btn{
    background-color: #0065be !important;
    color: white;
}

a.edu-btn, button.edu-btn{
    background-color: #0065be !important;
    color: white !important;
}

.features-area-2{
    background: linear-gradient(-90deg, #0098be 0%, #003399 100%) !important;
}

.about-image-gallery .award-status .inner .content .title{
    color: #0098be !important;
}

.section-title .shape-line{
    color: #0098be !important;
}

.testimonial-grid .thumbnail .qoute-icon{
    background-color: #0098be !important;
}

.edu-cta-box{
    background: linear-gradient(-90deg, #0098be 0%, #003399 100%) !important; 
}

h5 a:hover{
    color: #0098be !important;
}

.blog-meta li i, .blog-meta li img{
    color: #0098be !important;
}

.edu-footer .copyright-area a{
    color: #0098be !important;
}

.downloadable-document{
    border-color: #0098be !important;
}

.about-content .features-list li:before {
    content: "\e913";
    font-family: 'icomoon';
    color: #fdff00 !important;
    font-size: 19px;
    position: absolute;
    left: 0;
    top: -3px;
}

.testimonial-grid .content .rating-icon i {
    color: #fdff00 !important;
}

.edu-counterup .count-number.extra05-color {
    color: #fdff00 !important;
}

.color-secondary {
    color: #003399 !important;
}

.edu-counterup .count-number.secondary-color {
    color: #003399 !important;
}

.text-success{
    color: #0098be !important;
}

#edublink-preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999999999;
    overflow: hidden;
    background-image: -webkit-linear-gradient(70deg, #31b978 0%, #1ab69d 100%);
    background-image: linear-gradient(20deg, #003399 0%, #0098be 100%);
    -webkit-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}

.edu-course .course-hover-content-wrapper {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    opacity: 0;
    background-color: #4283CE !important;
}

.counting-color{
    color: #4283CE !important;
}

.edu-course .thumbnail a:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: transparent !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: 5px 5px 0 0;
}

.mainmenu-nav .mainmenu>li>a {
    color: black;
    font-size: 15px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    padding: 0 26px;
    display: block;
    height: 90px;
    line-height: 94px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.popup-mobile-menu .mainmenu li a {
    margin: 8px 0;
    display: block;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.downloadable-document p{
    font-weight: 700 !important;
}

.hero-banner.hero-style-1{
    margin-top: -65px !important;
}

/* .features-area-2{
    margin-top: 55px;
}

@media screen and (width < 900px) {
    .features-area-2{
        margin-top: 0px;
    }
} */

@media screen and (width > 900px) {
    .hero-banner.hero-style-1{
        margin-top: -110px !important;
    }
}

.mainmenu-nav .mainmenu>li>a:hover{
    color: #0098be !important;
}

.bellIcon{
    width: 45px !important;
    margin-top: -10px;
}

.popupDivWrap{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #1ab69c58;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popupDiv{
    width: min(100%, 350px) !important;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.popupHeading{
    width: max-content;
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #003399;
}

.popupUl{
    list-style: none;
}

.popupLi{
    color: black !important;
}

.squareIcon{
    font-size: 12px;
    margin-top: 8px !important;
    background-color: #003399 !important;
    color: #003399 !important;
}

.dataWrap{
    background-color: #fdff00;
}

@media screen and (width < 800px) {
    .popupDivWrap{
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: #1ab69c58;
        width: 100%;
        height: 100%;
        display: none;
        align-items: end;
        justify-content: center;
        z-index: 999;
    }
}

.edu-team-grid .thumbnail a:after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #00c4f579;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.edu-cta-box .inner .sparator span {
    display: block;
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 60px;
    border: 4px solid rgba(26, 182, 157, .2);
    border-radius: 50%;
    font-size: 24px;
    font-weight: var(--p-semi-bold);
    color: #0098be;
    background-color: #fff;
}

.infoTextcourse{
    color: #0098be;
    font-size: 45px !important;
}

.duration-text{
    font-weight: 700;
    font-size: 12px !important;
    font-family: Poppins, sans-serif;
}

.StartDate{
    font-size: 25px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: rgb(32, 32, 32);
}

@media screen and (width < 800px) {
    .infoTextcourse{
        color: #0098be;
        font-size: 40px !important;
    }
}

.crossIcon{
    position: relative;
    right: -145px;
    top: -10px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(185, 185, 185, 0.411);
    cursor: pointer;
}

.mainherosec{
    /* padding-bottom: 55px; */
    display: flex;
    align-items: end !important;
}

/* @media screen and (width < 900px) {
    .mainherosec{
        padding-bottom: 0px;
    }
} */